.Rproj.user
.Rhistory
.RData
.Ruserdata
/model outputs
/graphs
/Downloaded data files
!Downloaded data files/mat_aas_table7.xlsx
!Downloaded data files/population_total.xlsx
birthsRR.txt
CI ribbons under construction.R
Initial_ITS_models.*
style.css
.svg
.png
-*.R*
sample code for synth.txt
*.docx
*[old]*
!select_synth.Rmd